.footer {
  width: 100%;
  padding: 60px 0;
  background: $black1;
  @include media-down(lg) {
    padding: 48px 0 63px;
  }
  @include media-down(sm) {
    padding: 48px 0 80px;
  }

  &__container {
    @include media-up(xl) {
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
    }
    @include media-down(lg) {
      padding-left: 30px;
      padding-right: 23px;
    }
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 270px;
    margin-right: 120px;
    @include media-down(lg) {
      margin: 0 auto;
      margin-bottom: 60px;
    }
    @include media-down(sm) {
      width: 232px;
      margin-bottom: 50px;
    }
    svg {width: 100%;}
  }

  &__content {
    display: flex;
    flex-grow: 1;
    @include media-down(lg) {
      justify-content: center;
    }
  }

  &__nav {
    margin-right: 130px;
    @include media-down(sm) {
      display: none;
    }
    li {
      margin-bottom: 26px;
      &:last-child {margin-bottom: 0;}
    }
    a {
      text-transform: uppercase;
      color: $gray;
      transition: color .25s ease;
      white-space: nowrap;
      &:hover {color: #ffffff;}
    }
  }

  &__contacts {
    max-width: 300px;
  }

  &-contacts {
    &__item {
      position: relative;
      margin-bottom: 20px;
      color: $gray;
      line-height: 22px;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-down(lg) {
        margin-bottom: 25px;
      }
      @include media-down(sm) {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 35px;
      }
      a {
        display: flex;
        align-items: center;
        color: $gray;
        transition: color .25s ease;
        padding-left: 47px;
        &:hover {color: #ffffff;}
        @include media-down(sm) {
          font-size: 14px;
        }
      }
      svg {
        position: absolute;
        left: 0; top: 2px;
        display: block;
        background-repeat: no-repeat;
        background-position: left center;
        pointer-events: none;
        @include media-down(sm) {
          top: 4px;
        }
      }
      &--call svg {
        width: 17px;
        height: 17px;
      }
      &--mail svg {
        width: 18px;
        height: 18px;
      }
      &--map {
        padding-left: 47px;
        svg {
          width: 21px;
          height: 21px;
        }
      }
    }
  }
}