.header {
  padding: 34px 0;
  background: $bg;
  @include media-up(xxl) {padding: 34px 10px;}

  &__logo {
    display: block;
    width: 106px; height: 106px;
    svg {
      width: 100%; height: 100%;
    }
  }
}