.header {
  padding: 30px 0;
  height: 110px;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  transition: all .7s ease;
  @include media-down(lg) {
    background: #2b2b29;
  }
  @include media-down(sm) {
    padding: 23px 0;
    height: 90px;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    width: 260px;
    transition: all .7s ease;
    @media (max-width: 1500px) {
      width: 200px;
    }
    @include media-down(md) {
      width: 190px;
    }
    @include media-down(sm) {
      width: 50px;
      height: 43px;
      overflow: hidden;
      margin-left: 6px;
    }
    img {
      transition: all .7s ease;
      width: 100%;
      height: 100%;
      @include media-down(sm) {
        width: 215px;
      }
    }
  }

  &__right {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0; 
      bottom: -30px;
      display: block;
      width: 100%;
      height: 1px;
      background: $gray;
      transition: bottom .7s ease, opacity .7s ease;
      @include media-down(lg) {display: none;}
    }
    &:after {
      transform: translateX(100%);
    }
  }

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;
    li {
      margin-right: 40px;
      &:last-child {margin-right: 0;}
      @media (max-width: 1500px) {
        margin-right: 15px;
      }
    }
    a {
      white-space: nowrap;
      display: block;
      padding: 0 11px;
      font-weight: bold;
      text-transform: uppercase;
      color: $gray;
      transition: color .25s ease;
      &:hover,
      &.active {
        color: #ffffff;
      }
    }
    @include media-down(lg) {
      display: none;
    }
  }

  &__contacts {
    position: relative;
    transition: all .7s ease;
    margin-left: 85px;
    @media (max-width: 1500px) {
      margin-left: 40px;
    }
    @include media-down(lg) {
      margin-left: 0;
      margin-right: 100px;
    }
    @include media-down(sm) {
      display: none;
    }
  }

  &-contacts {
    &__item {
      position: relative;
      transition: all .7s ease;
      &:first-child {
        margin-bottom: 15px;
      }
      a {
        display: flex;
        align-items: center;
        padding-left: 47px;
        color: $gray1;
        transition: all .25s ease, font-size .7s ease;
        &:hover {color: #ffffff;}
        @media (max-width: 1500px) {
          padding-left: 30px;
          font-size: 14px;
        }
        @include media-down(lg) {
          padding-left: 45px;
          color: #ffffff;
        }
        @include media-down(sm) {
          padding-left: 30px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0; top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 15px; height: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        pointer-events: none;
        transition: all .7s ease;
        @include media-down(lg) {
          width: 13px; height: 13px;
        }
      }
      &--call:before {
        background-image: url(/img/icons/call.svg);
      }
      &--mail:before {
        background-image: url(/img/icons/mail.svg);
      }
    }
  }

  &-lang {
    width: 84px;
    height: 44px;
    position: relative;
    z-index: 10;
    font-size: 13px;
    font-weight: bold;
    margin-left: 60px;
    @media (max-width: 1500px) {
      margin-left: 30px;
    }
    @include media-down(lg) {
      order: -1;
      margin-left: 0;
      margin-right: 50px;
    }
    @include media-down(sm) {
      margin-right: 35px;
      width: 60px;
      height: 36px;
    }
    a {
      width: 100%;
      height: 44px;
      display: block;
      padding: 14px 22px;
      cursor: pointer;
      position: relative;
      @include media-down(sm) {
        height: 36px;
        padding: 10px 20px;
      }
      &:before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        top: 14px;
        right: 12px;
        background: #fff;
        @include media-down(sm) {
          display: none;
        }
      }
      &:hover {
        background: $black;
      }
    }
    &__current {
      position: relative;
      z-index: 1;
      border: 1px solid $border;
      border-radius: 22px;
      transition: all .25s ease;
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        right: 15px;
        background: $green;
        @include media-down(sm) {
          display: none;
        }
      }
    }
    &__dropdown {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding-top: 42px;
      background: $black1;
      opacity: 0;
      border: 1px solid $border;
      border-radius: 22px;
      overflow: hidden;
      visibility: hidden;
      pointer-events: none;
      transition: all .25s ease;
      li:not(:last-child){
        border-bottom: 1px solid #fff;
      }
      @include media-down(sm) {
        border-radius: 18px;
        padding-top: 34px;
      }
    }
    &.active  {
      .header-lang__current {
        border-radius: 22px 22px 0 0;
        @include media-down(sm) {
          border-radius: 18px 18px 0 0;
        }
      }
      .header-lang__dropdown {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }


  &.is-fixed {
    height: 80px;
    padding: 22px 0;
    background: $black1;
    box-shadow: 0 2px 10px 0 rgba(5,5,5,.2);
    @include media-down(sm) {
      height: 53px;
      padding: 10px 0;
    }
    .header {
      &__logo {
        @include media-up(xl) {
          width: 180px;
        }
        @include media-down(sm) {
          width: 33px;
          height: 30px;
          img {
            width: 150px; height: 30px;
          }
        }
      }
      &__right:before,
      &__right:after {
        opacity: 0;
        bottom: -23px;
      }
      &-contacts {
        margin-left: 60px;
        padding-left: 64px;
        @media (max-width: 1500px) {
          margin-left: 40px;
        }
        &__item {
          min-width: 44px;
          height: 44px;
          border: 1px solid #fff;
          border-radius: 50%;
          &:hover {
            background: $black;
          }
          a {
            padding: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            opacity: 0;
          }
          &:first-child {
            margin-bottom: 0;
            position: absolute;
            left: 0; top: 0;
          }
          &:before {
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      &-lang {
        margin-left: 20px;
      }
    }
    .js-header-line  {
      bottom: -24px;
    }
  }
}

.js-header-line {
  position: absolute;
  z-index: 1;
  right: 0; 
  bottom: -31px;
  display: block;
  width: 0;
  height: 4px;
  background: $green;
  transition: all .25s ease;
  @include media-down(lg) {display: none;}
}

.hamburger {
  width: 30px; height: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media-up(xl) {display: none;}
  &-box {
    width: 25px; height: 18px;
    position: relative;
  }
  &-inner,
  &-inner:before,
  &-inner:after {
    position: absolute;
    left: 0; top: 0;
    width: 25px; height: 2px;
    background: #dfdfdf;
  }
  &-inner {
    transition: transform .3s ease, top .2s .3s;
  }
  &-inner:before,
  &-inner:after {
    content: '';
    display: block;
  }
  &-inner:before {
    width: 20px;
    left: 5px; top: 8px;
    transition: top .3s .2s, width .3s .2s, opacity .3s .2s;
  }
  &-inner:after {
    left: 0; top: 16px;
    transition: transform .3s ease, top .2s .3s;
  }
  &.active .hamburger {
    &-inner {
      top: 8px;
      transform: rotate(225deg);
      transition: top .2s, transform .3s .2s ease;
    }
    &-inner:after {
      top: 0;
      transform: rotate(90deg);
      transition: top .2s, transform .3s .2s ease;
    }
    &-inner:before {
      top: 0;
      width: 0;
      transition: top .2s, width .1s, opacity .1s;
    }
  }
}

.mobile-panel {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 300px;
  background: $black2;
  padding: 180px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(300px);
  transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);
  @include media-down(xs) {
    width: 100vw;
    transform: translateX(100vw);
    padding-top: 150px;
  }
  &.active {
    transform: translateX(0);
  }
  &__nav {
    padding: 0 30px;
    li {
      margin-bottom: 55px;
      &.active a {color: #ffffff;}
    }
    a {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #c5c5c5;
    }
  }
  &__contacts {
    @include media-up(md) {display: none;}
  }
  .header-contacts__item {
    margin-bottom: 25px;
    a {
      font-size: 16px;
      padding-left: 45px;
    }
  }
}