*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

body {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  min-width: 320px;
  color: #fff;
  background: $black;
  overflow-x: hidden;
  position: relative;
  font-family: $font;
  height: 100%;
  overflow-x: hidden;
  &.overflow {overflow: hidden;}
}

.up {
  text-transform: uppercase;
}

b,
strong {
  font-weight: bold;
}

ul, ol {
  list-style-type: none;
  margin-bottom: 0;
}

a, a:focus, a:active, input, button, select, .slick-slide {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  @include media-down(sm) {
    text-align: left;
  }
}

h1 {
  font-size: 48px;
  line-height: 80px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #fff;
  @include media-down(lg) {
    font-size: 30px;
    line-height: 47px;
  }
  @include media-down(sm) {
    font-size: 22px;
    line-height: 37px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 45px;
  margin-bottom: 50px;
  color: $green;
  @include media-down(lg) {
    font-size: 26px;
    line-height: 31px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  @include media-down(lg) {
    font-size: 16px;
    line-height: 35px;  }
}

p {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 22px;
  color: #626262;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}