*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}

body {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  min-width: 320px;
  color: #fff;
  background: $black;
  overflow-x: hidden;
  position: relative;
  font-family: $font;
  height: 100%;
  overflow-x: hidden;
  &.overflow {overflow: hidden;}
}

.up {
  text-transform: uppercase;
}

b,
strong {
  font-weight: bold;
}

ul, ol {
  list-style-type: none;
  margin-bottom: 0;
}

a, a:focus, a:active, input, button, select, .slick-slide {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 300;
  font-style: italic;
}

h1, h2 {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 150px;
  text-align: center;
  position: relative;
  @include media-down(lg) {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 100px;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: -60px;
    display: block;
    width: 20px; height: 45px;
    background: url(../img/icons/header.svg) center / contain no-repeat;
    @include media-down(sm) {
      bottom: -70px;
    }
  }
}

h1 {
  margin-top: 110px;
  @include media-down(lg) {
    margin-top: 45px;
  }
}

h3 {
  font-size: 30px;
  margin-bottom: 35px;
  @include media-down(lg) {
    font-size: 20px;
    margin-bottom: 25px;
  }
  @include media-down(sm) {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @include media-up(xl) {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #626262;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
	/* added line */
}