$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1920px);

// Fonts
$font: "OpenSans", sans-serif;

// Colors
$white: #f7f7f7;
$black: #242422;
$black1: #343432;
$black2: #444444;
$green: #b1d600;
$gray: #c5c5c5;
$gray1: #b9b9b9;
$red :#ff5858;

$border: #b5b5b5;
$bg: #fafafa;

// Shadows
$shadow: 0 10px 20px rgba(0, 0, 0, 0.1);